.container {
  text-align: left;
  margin-top: 0;
  margin-left: 20px;
}

.title {
  margin: 0;
  font-size: 17px;
  font-weight: 500;
}

.links {
  list-style: none;
  padding: 0;
  margin-left: 0px;
  margin-top: 5px;
}

.back_link {
  text-align: left;
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 5px;
}

.link:hover,
.link:focus {
  color: #ff4500;
}

.line {
  box-shadow: 0px 0px 1px 0px;
}
