.container {
  display: flex;
  margin-top: 20px;
  margin-left: 30px;
  gap: 12px;
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
  color: #213547;
  font-weight: 700;
}

.active {
  color: orangered;
  text-decoration: underline;
}

.line {
  box-shadow: 0px 0px 1px 0px;
}
